*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.admin-panel {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 'logo topbar'
    'sidemenu body';
  // max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  font-size: $paragraph-font-size;
  font-family: $font-text;
  line-height: 1.7;
  color: $text-color;
  background-color: $body-color;
  text-align: center;
}

.logo_burger {
  grid-area: logo;
  position: fixed;
  height: 60px;
  width: 15%;
  background-color: #191919;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;

  i {
    color: $white-color;
    font-size: 25px;
    cursor: pointer;
  }
}

.top-menu {
  grid-area: topbar;
  height: 60px;
  position: sticky;
  top: 0;
  right: 0;

  .topbar-menu {
    display: flex;
    justify-content: flex-end;

    .top-list {
      display: flex;
      align-items: center;
      padding: 20px;
      border-left: 1px solid $border-color;
    }
  }
}

.sidebar {
  grid-area: sidemenu;
  position: fixed;
  top: 60px;
  left: 0;
  width: 15%;
  height: 100%;


}

.general-body {
  grid-area: body;
  margin: 20px;

  .gen-statistic {
    margin-bottom: 20px;
  }
}
