*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.admin-panel {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 'logo topbar'
    'sidemenu body';


  // max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  font-size: $paragraph-font-size;
  font-family: $font-text;
  line-height: 1.7;
  color: $text-color;
  background-color: $body-color;
  text-align: center;
}

.logo_burger {
  grid-area: logo;
  position: fixed;
  height: 60px;
  width: 15%;
  background-color: #191919;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;

  i {
    color: $white-color;
    font-size: 25px;
    cursor: pointer;
  }
}

.top-menu {
  grid-area: topbar;
  height: 60px;
  position: sticky;
  top: 0;
  right: 0;

  .topbar-menu {
    display: flex;
    justify-content: flex-end;

    .top-list {
      display: flex;
      align-items: center;
      padding: 20px;
      border-left: 1px solid $border-color;
    }
  }
}

.sidebar {
  grid-area: sidemenu;
  position: fixed;
  top: 60px;
  left: 0;
  width: 15%;
  height: 100%;


}

.general-body {
  grid-area: body;
  margin: 20px;

  .gen-statistic {
    margin-bottom: 20px;
  }
}

@for $i from 1 through 12 {
  .col-sm-#{$i} {
    $width: 100% / 12 * $i;
    flex: 0 0 $width;
    max-width: $width;
  }
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-6 {
  width: 100%;
  padding: 25px;
  float: left;

  @media(max-width:$small) {
    padding-top: 0px;
    padding-bottom: 0px;

  }
}

@media(max-width: $small) {
  @include grid('sm');

  .admin-panel {

    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 'logo''sidemenu''body''topbar';

    .logo_burger {
      position: relative;
      width: 100%;
    }

    .sidebar {
      position: relative;
      width: 100%;
      top: 0;
    }
  }
}

@media(min-width: $medium) {
  @include grid('md');
}

@media(min-width: $large) {
  @include grid('lg');
}

@media(min-width: $xlarge) {
  @include grid('xl');
}
